/* */
/* pc端*/

@media screen and (min-width: 300px) and (max-width: 760px){
    /* .list-l1{
        float: left;
        width: 33%;
        margin-bottom: 15px;
    } */

    .carousel{
        padding:10px 10px 10px 10px;
    }

    .neirong{

        font-size: 16px;
        color: #000;
        padding: 0 10px;
        width: 100%;
    }
    .neirong-1{
        font-family: Arial;
        font-weight: bold;
        width: 50%;
        float: left;
    }
    .neirong-2{
        font-size: 14px;
        width: 50%;
        text-align: right;
        float: left;
    }
    .tuwen{
        /* padding: 10px; */
    }
    .tuwen-1{
        margin-top: 10px;
        margin-left: 10px;
        border: 1px solid rgb(34, 34, 34 ,.2);
        width: 262px;
        float: left;
        
    }
    .tuwen-2{
        margin: auto;
        /* background: red; */
        padding: 10px;
    }
    .tuwen-2-span{
        /* background: red; */
        
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        /* width: 100px; */
    }
    .tuwen-2-span a{
        /* width: 100px; */
        font-size: 14px;
        color: #333;
        font-family: Arial;
        font-weight: bold;
        
    }
    .tuwen-2-span a:hover{
        font-size: 14px;
        color: #333;
        font-family: Arial;
        font-weight: bold;
    }
    .tuwen-2-span1{
        font-size: 12px;
        color: #555;

    }
    .tuwen-2-button{
        text-align: right;
        /* background:red; */
        padding-top: 10px;
    }
    .tuwen-2-button-1{
        text-align: center;
        background:#2D2D2F;
        width: 100px;
        height: 35px;
        border: 1px;
        color: #fff;
        font-size: 16px;
        border-radius: 5px;
    }
    .tuwen-2-button-1:hover{
        text-align: center;
        background: #59B210;
        /* background:#2D2D2F; */
        width: 100px;
        height: 35px;
        border: 1px;
        color: #fff;
        border-radius: 5px;
        font-size: 16px;
    }
    .neirong{
        display: none;
        
    }
    .links{
        padding: 20px;
        /* background: pink; */
    }
    
    .links-span{
        cursor: pointer;
        /* width: 30px; */
        background: #D3D3D3;
    }

    .kong{
        /* margin: 20px; */
        display: none;
        width: 1100px;
        padding-bottom: 15px;
    }
    .kong1{
        margin:5px auto;
        /* padding: 10px; */
        /* margin: 5px; */
        /* background: red; */
        width: 1080px;
        height: 70px;
        border-top: 1px solid rgb(34, 34, 34 ,.2);
        border-bottom: 1px solid rgb(34, 34, 34 ,.2);
    }


    .diwen{
        display: none;
        width: 100%;
        
        
    }
    .diwen1{
        margin: auto;
        /* margin: 5px; */
        width: 1080px;
        /* background: pink; */
        height: 300px;
    }


    .diwen1-left{
        width: 360px;
        /* height: 300px; */
        /* background: #59B210; */
        float: left;
    }
    .diwen1-left-tu{
        height: 80px;
       
        margin: 0px;
        width: 1100px;
    }
    .diwen1-left-tu1{
        max-width: 100%;
        max-height: 100%;
    }
    .diwen1-left-zi{
        font-size: 14px;
        color: #555;
    }
    .diwen1-left-tu-f{
        padding: 30px 0px;
    }

    .diwen1-zhong{
        width: 360px;
        height: 300px;
        /* background: yellow; */
        float: left;
    }
    .diwen1-zhong-z{
        /* background: pink; */
        margin: auto;
        width: 60%;
    }
    .diwen1-zhong-z-1{
        border-bottom: 1px dotted rgb(34, 34, 34 ,.8);
        padding:15px 0;
    }
    .diwen1-zhong-z-2{
        float: left;
        font-size: 14px;
        color: #555;
        width: 50%;
        text-align: left;
    }
    .diwen1-zhong-z-3{
        font-size: 14px;
        color: #555;
        float: left;
        width: 50%;
        text-align: right;
    }
    .gong-wenzi{
        font-size: 14px;
        color: #555;
        float: left;
        width: 100%;
        padding:15px 0;
    }
    .gong-wenzi-1{
        font-size: 14px;
        color: #555;
        float: left;
        width: 100%;
        padding:5px 0;
    }
    .gong{
        font-size: 16px;
        color: #333;
        font-weight: bold;
    }
    .diwen1-right{
        width: 360px;
        height: 300px;
        /* background: red; */
        float: left;
    }
    .diwen1-right1{
        width: 100%;
        margin: auto;
        padding-left: 60px;

        /* background: yellow; */
    }
    .diwen1-right-wei{
        margin-top: 20px;
        /* position: absolute; */
        border-radius: 50%;
        text-align: center;
        /* line-height: 50px; */
        width: 30px;
        height: 30px;
        background: #59B411;
        float: left;
    }
    .diwen1-right-wei-svg{
        position: relative;
        top: 5px;
    }
    .diwen1-right-wei-you{
        margin-top: 20px;
        margin-left: 10px;
        width: 80%;
        float: left;
    }
    .diwen1-right-wei1{
        margin-top: 30px;
        /* position: absolute; */
        border-radius: 50%;
        text-align: center;
        /* line-height: 50px; */
        width: 30px;
        height: 30px;
        background: #59B411;
        float: left;
    }
    #zhenwen{
        overflow:hidden;
        margin: auto;
        width: 100%;
        /* height: 300px; */
        background: #fff;
        /* border: 1px solid #000; */
        
        box-shadow: 1px 1px 15px 1px rgb(70, 69, 69);
        /* opacity: 0.2; */
    }
    #foot{
        margin-top: 10px;
        height: 50px;
        width: 100%;
        background: #2D2D2F;
    }
    #foot-1{
        
        width: 1100px;
        margin: auto;
        height: 50px;
        line-height: 50px;
        color: #B7B7B7;
    }
    #foot-1 span{
        margin-left: 30px;
    }
 }