/* */
/* pc端*/
*{
    margin: 0px;
    padding: 0px;
}
body.navbar {
    padding: 0px;
    position: relative;
    /* min-height: 50px; */
    margin-bottom: 1px;
    background-color: #F2F2F2;
    border: 1px solid transparent;
    overflow-x: hidden;
  }
 body{
    
    margin: 0px auto;
    padding: 0px;
}
/* 图标 */
.icon {
    width: 1.2em; height: 1.2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 .icon1{
    width: 2em; height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
 .container:after{
    content:"";
    clear: both;
    display:block; 
}


.list-l2{
    /*padding-bottom:62.5%;*/
    /*position: relative;*/
    /*text-align: center;*/
    width: 100%;	
}
.lll{
    /* box-shadow:0px 3px 3px rgba(0,0,0,0.4); */
    border: 1px solid rgb(34, 34, 34 ,.2);
    margin-right:15px;
    margin-left: 15px;
}
.list-l3:hover{
    /* box-shadow:0px 7px 7px rgba(0,0,0,0.5);
    margin-right:15px;
    margin-left: 15px;
     */
}
.list-l3{
    /* box-shadow:0px 3px 3px rgba(0,0,0,0.4);
    margin-right:15px;
    margin-left: 15px; */
    
}
.list-l4{
    padding-bottom:62.5%;
    position: relative;	
}
.list-l5{
    margin-left:25px;
    /*display:inline-block;*/
    overflow: hidden;
    margin:auto 0px auto 15px;
    white-space: nowrap;

                /*max-width: 100%;*/
    /*max-height: 100%;*/
    /*position: absolute;*/
    /*line-height: 50px;*/
}
.tu{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
}
@media screen and (min-width: 760px) and (max-width: 1100px){
    .list-l1{
        float: left;
        width: 33%;
        margin-bottom: 15px;
        /*background: pink;*/
    }

    .ipad-top{
        margin: auto;
        height: 40px;
        /* background: yellow; */
        width: 100%;
        line-height: 40px;
    }
    .ipad-top1{
        position: absolute;
        top: 0px;
        float: left;
        width: 50%;
       
    }
    .ipad-top-tu{
        /* background: pink; */
        height: 40px;
        padding-left: 10px;
    }
    .ipad-top-tu1{
        /* float: left; */
        /* width: 50%; */
        
        height: 40px;
        max-width: 100%;
        max-height: 100%;
    }
    .ipad-top-tu2{
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 50%;
        float: left;
        /* background: red; */
    }
    .ipad-top-tu2-1{
        position: absolute;
        top: 5px;
        right: 0px;
        text-align: center;
        width: 20%;
        float: left;
        /* background: pink; */
    }
    .ipad-top-tu2-gong{
        width: 25%;
        float: left;
    }
    .ipad-cehua{
        position: absolute;
        z-index: 1;
        top: 0px;
        background: #fff;
        display: none;
        /* display: block; */
        width: 100%;
        height: 100%;
    }
    .ipad-cehua-1{
        float: left;
        
        width: 80%;
        background:#F2F2F2;
        height: 100%;
        font-size: 16px;
    }
    .ipad-cehua-2{
        float: left;
        width: 20%;
        background: rgba(41, 41, 41, 0.3);
        height: 100%;
        /* opacity: 0.1; */
    }
    .ipad-cehua-2-a{
        width: 100px;
        height: 100px;
        background: red;
    }
    #conte{
        display: none;
    }
    #top{
        display: none;
        height: 30px;
        /* background-color: #59B411; */
        margin-top: 10px;
        padding-right: 10px;
        text-align: right;
        line-height: 30px;
        font-family: Arial
    }
    
    /* 上面的是头不和横线的样式 */
    
    
    
    #sousuo{
        display: none;
        height: 103px;
        /* background: #59B411; */
        margin: 0px;
        min-width: 99%;
        border-top: 2px solid #fff;
    }
    
    
    #doahanlan{
        display: none;
        /* position: absolute; */
        z-index: 2;
        width: 100%;
        height: 50px;
        background: url(../img/nav_bg.jpg) top center no-repeat;
    }
    /* 上面的是导航栏 */
   
    
    /* 脚部 */
    #foot{
        margin-top: 10px;
        height: 50px;
        width: 100%;
        background: #2D2D2F;
    }
    #foot-1{
        
        width: 1100px;
        margin: auto;
        height: 50px;
        line-height: 50px;
        color: #B7B7B7;
    }
    #foot-1 span{
        margin-left: 30px;
    }
 }
 @media screen and (min-width: 300px) and (max-width: 760px){
    .list-l1{
        float: left;
        width: 50%;
        margin-bottom: 15px;
        /*background: pink;*/
    }

    .ipad-top{
        margin: auto;
        height: 40px;
        /* background: yellow; */
        width: 100%;
        line-height: 40px;
    }
    .ipad-top1{
        position: absolute;
        top: 0px;
        float: left;
        width: 50%;
       
    }
    .ipad-top-tu{
        /* background: pink; */
        height: 40px;
        padding-left: 10px;
    }
    .ipad-top-tu1{
        /* float: left; */
        /* width: 50%; */
        
        height: 40px;
        max-width: 100%;
        max-height: 100%;
    }
    .ipad-top-tu2{
        height: 40px;
        line-height: 40px;
        text-align: center;
        width: 50%;
        float: left;
        /* background: red; */
    }
    .ipad-top-tu2-1{
        position: absolute;
        top: 5px;
        right: 0px;
        text-align: center;
        width: 30%;
        float: left;
        /* background: pink; */
    }
    .ipad-top-tu2-gong{
        width: 25%;
        float: left;
    }
    .ipad-cehua{
        position: absolute;
        z-index: 1;
        top: 0px;
        background: #fff;
        display: none;
        /* display: block; */
        width: 100%;
        height: 100%;
    }
    .ipad-cehua-1{
        float: left;
        
        width: 80%;
        background:#F2F2F2;
        height: 100%;
        font-size: 16px;
    }
    .ipad-cehua-2{
        float: left;
        width: 20%;
        background: rgba(41, 41, 41, 0.3);
        height: 100%;
        /* opacity: 0.1; */
    }
    .ipad-cehua-2-a{
        width: 100px;
        height: 100px;
        background: red;
    }
    #conte{
        display: none;
    }
    #top{
        display: none;
        height: 30px;
        /* background-color: #59B411; */
        margin-top: 10px;
        padding-right: 10px;
        text-align: right;
        line-height: 30px;
        font-family: Arial
    }
    
    /* 上面的是头不和横线的样式 */
    
    
    
    #sousuo{
        display: none;
        height: 103px;
        /* background: #59B411; */
        margin: 0px;
        min-width: 99%;
        border-top: 2px solid #fff;
    }
    
    
    #doahanlan{
        display: none;
        /* position: absolute; */
        z-index: 2;
        width: 100%;
        height: 50px;
        background: url(../img/nav_bg.jpg) top center no-repeat;
    }
    /* 上面的是导航栏 */
   
    
    /* 脚部 */
    #foot{
        margin-top: 10px;
        height: 50px;
        width: 100%;
        background: #2D2D2F;
    }
    #foot-1{
        
        width: 1100px;
        margin: auto;
        height: 50px;
        line-height: 50px;
        color: #B7B7B7;
    }
    #foot-1 span{
        margin-left: 30px;
    }
 }